<!DOCTYPE html>
<html>
<head><title>Ur-ly URL Shortener</title></head>
<body>
  <form action="/url" method="post">
    <input type="text" name="url_entry" value='Enter the URL you would like to "shorten"' size="50">
    <br>
    <button type="sumbit">Shorten</button>
  </form>
</body>
<footer>Anchor: at the bottom of the ocean... Mark</footer>
</html>