<!DOCTYPE html>
<html>
<head><title>Ur-ly URL Shortener</title></head>
<body>
  <form action="/url" method="post">
    <label>Enter URL to be shortened</label>
    <input type="text" name="url_entry">
    <button type="submit">Add the URL</button>
  </form>
</body>
<footer>Anchor: at the bottom of the ocean... Mark</footer>
</html>