<html>
<head><title>Ur-ly URL Shortener</title></head>
<link href="style.css" rel="stylesheet" type="text/css">
<body class="centered_results">
<table>
  <tr>
  <td class="td"><b>Original URL:</b></td>
    <td><%= urls[url_id][:entered_url] %></td>
    </tr>
  <tr>
  <td class="td"><b>"Shortened" URL:</b></td>
    <td>http://ur-ly.herokuapp.com/<%= urls[url_id][:id] %> </td>
  </tr>
</table>

</body>
</html>